*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: teal;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


h1{
	background: url(https://c.tenor.com/VbezPY1TRaMAAAAM/fire-flames.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 350px;
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	letter-spacing: 10px;
}